.product-name {
    font-size: clamp(0px, 1.2vw, 1.5rem);
}

.price {
    font-size: clamp(0px, 1.2vw, 1.5rem);
}

.desc-product {
    font-size: clamp(0px, .9vw, 1rem);
}


@media screen and (max-width: 320px) {
    .barman{
        min-width: 15px;
    }
}